.preview-hd {
  border: 4px solid #964b00; /* Brown */
  background-color: #ffdab9; /* PeachPuff */
  font-weight: bold;
  padding: 8px;
}

.list-hd {
  background-color: #ffdab9; /* PeachPuff */
  font-weight: bold;
  padding: 8px;
  border: 4px solid #964b00; /* Brown */
}

.park-list {
  background-color: #fafafa;
}

.park-list .park-item {
  border: 2px solid #964b00; /* Brown */
  font-size: 18px;
  color: brown; /* Gold */
  padding: 8px;
}

.park-list .park-item:nth-child(even) {
  background: #ffdab9; /* PeachPuff */
}
