@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.app {
  position: relative;
  background-color: #f8fadb;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-top: 40px;
}

.preview-container {
  border: 4px solid #5a3b30;
  max-width: 400px;
  width: 100%;
  text-align: left;
  color: #433b3f;
  float: left;
  box-sizing: border-box;
  border-radius: 20px;
  height: 1000px;
  position: relative;
}

.park-list {
  height: 90%;
  overflow-y: auto;
  display: inline-block;
}
.preview-park-container {
  height: calc(
    100% - 30px
  ); /* Adjust the height to account for the height of preview-hd */
  overflow-y: auto; /* Add scroll only to the preview-park section */
}

.preview-hd {
  border: 3px solid #5a3b30;
  border-radius: 20px;
  background-color: #c9b790;
  font-weight: bold;
  padding: 6px;
  margin: 10px;
  top: 0;
  z-index: 1;
}

.preview-park:nth-child(even) {
  background: #c9b790;
}

.list-hd {
  margin: 20px;
}

.preview-park {
  margin: 10px;
  padding: 10px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-variant: small-caps;
}

h3 {
  font-family: "League Spartan", sans-serif;
  text-transform: uppercase;
}

.content-container {
  display: flex;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px; /* Adjust the width as per your requirements */
  height: 24px; /* Adjust the height as per your requirements */
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.enlarge {
  transform: scale(1.5); /* Increase the scale as per your requirements */
}
