.app-container {
  display: flex;
  flex-direction: row;
}

.preview-container {
  border: 8px solid #964b00; /* Brown */
  width: 50%;
  text-align: left;
  color: brown; /* Gold */
  float: left;
  box-sizing: border-box;
}

.feature-container {
  background-color: #ffdab9; /* PeachPuff */
  color: #964b00; /* Brown */
}

.content-container {
  display: flex;
  align-items: flex-start;
}

input {
  padding: 8px;
  margin-right: 8px;
}
